*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/Core/lib/android/arm64-v8a/libLive2DCubismCore.a
/Core/lib/android/armeabi-v7a/libLive2DCubismCore.a
/Core/lib/android/x86/libLive2DCubismCore.a